.containerHeader {
  position: relative;
  width: auto;
  background-color: #C46210;
}
.App-header {
  background-color: #C46210;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logoBlanco {
  background-image: url(../../images/logoAmarillo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  position: absolute;
  margin-top: 0px;
  margin-left: 100px;
  
}
.containerNavbar {
  position: absolute;
  margin-top: 25px;
  
  margin-left: 470px;
  
}
.nav-link {
  color: white;
  border-bottom-style: solid;
  border-color:yellow;
}
.nav-link:hover {
  color: yellow;
  opacity: 0, 5;
  border-bottom-style: solid;
}

.navbar-expand-lg {
  width: 800px;
}
.navbar-mobile {
  width: 300px;
  height: 0px;
  background-color: yellow;
}
.containerNavbar-mobile {
  height: 40px;
  margin-top: 0px;
  background-color: antiquewhite;
}
.nav-link-mobile {
  display: block;
}