.banner {
  background-image: url(../../../images/imagenDeAuto.jpeg);
  background-repeat: no-repeat;
  height: 585px;
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mymove {
  from {
    background-color: rgb(255, 38, 0);
  }
  to {
    background-color: rgba(45, 6, 218, 0.658);
  }
}
h1 {
  color: yellow;
  font-family: fantasy;
  font-size: 80px !important;
  text-shadow: 2px 5px #C46210;
 position: absolute;
 margin-left: 170px;
}

.containerTxtWelcom {
  padding-top: 100px;
 
}
.containerAnimations {
  display: inline-block;
  width: 800px;
  height: 200px;
  margin-top: 250px;
}

.animation {
  width: 70px;
  height: 150px;
  padding: 30px;
  margin: 5px;
  margin-top: 300px;
  background-color: yellow;
  background-image: linear-gradient(to right, ye, #C46210);
  position: relative;
  animation-name: animationsNoticieImportant;
  animation-duration: 16s;
  color: aliceblue;
  font-size: 16px;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  display: inline;
}

.animations-links {
 text-decoration: none;
 color: white;
}
.animations-links:hover {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

@keyframes animationsNoticieImportant {
  0% {
    background-color: rgba(255, 255, 0, 0.796);
    
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: #e47114;
    
  }
  100% {
    background-color: #C46210;
    left: 100%;
    top: 0px;
  }
}
